h1 {
    font-family: "DM Serif Display";
    background-color: rgb(255, 255, 255);
}
p{  
    font-family: "DM Serif Display";
    color: rgb(23, 230, 141);
}
h2 {
    font-family: "DM Serif Display";
    color: aqua;
}
:any-link{
    color: rgb(224, 103, 153);
}

h3{
    color: aliceblue;
}